---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

const posts: CollectionEntry<"blog">[] = await getCollection("blog");
---

<BaseLayout
  title="Blog de Marketing Dental y Adquisición"
  description="Artículos sobre optimización, Google Ads y SEO local para clínicas dentales."
>
  <Fragment slot="head">
    <link rel="stylesheet" href="/styles/base-content.css" />
  </Fragment>

  <section class="section blog-index">
    <div class="wrap">
      <h1>Blog de Agencia Chucao</h1>
      <ul class="blog-index__posts" role="list">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.id}/`}>
                <h2>{post.data.title}</h2>
                <p>{post.data.description}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
